* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    color: #28231f;
    background-color: #ffffff;
    font-size: 1em;
}

p{
    margin-bottom: 0.6em;
}

content h1{
    margin: 1em 0em;
}

h2, h3{
    margin: 0.5em 0em 0.25em;
}

.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #28231f;
    text-shadow: 0.05em 0.05em teal;
    text-decoration: none;
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}

header{
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 10px 50px;
}

content{
    display: flex;
    flex-direction: inherit;
    flex: 7;
    padding: 10px 50px;
}

.prod_container{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-around;
    margin-bottom: 1.5em;
}

header, .prod_card, .info_card{
    border: solid #dcdcdc 1px;
}

.prod_card, .info_card{
    display: flex;
    box-shadow: 0.33em 0.33em 1em #dcdcdc;
    border-radius: 0.66em;
    overflow: hidden;
    justify-content: space-between;
}

.prod_card{
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin-bottom: 1em;
}

.prod_card_info{
    padding: 1em;
}

.info_card{
    flex-direction: row;
    width: 66vw;
    height: 66vh;
    align-self: center;
}
.info_img{
    flex: 1;
    width: 100%;
    object-fit: cover;
}
.info_details{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1em 3em;
    align-self: center;
}

.prod_card_img{
    width: 100%;
    height: 66%;
    object-fit: cover;
}

.last_updated{
    color: #9e9e9e;
    font-style: italic;
}

.price{
    font-size: 1.8em;
    margin-bottom: 0.6em;
    font-weight: bold;
}

.button{
    display: block;
    width: 150px;
    padding: 0.75em;
    margin-bottom: 1em;
    color: inherit;
    background-color: #dcdcdc;
    border: none;
    border-radius: 0.66em;
    align-self: center;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
}

.button:hover{
    background-color: teal;
    color: #ffffff;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
    margin-bottom: 1em;
}

.form *{
    margin-bottom: 0.25em;
}