<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>All products - SecondWind</title>
</head>
<body>
    <header>
        <h1>SecondWind</h1>
    </header>
    <content>
        <h2>All products</h2>
        <div class="prod_container">
        {% for item in list %}
            <div class="prod_card">
                <p>{{item['photo']}}</p>
                <h3>{{item['title']}}</h3>
                <p>{{item['seller_id']}} | Last updated {{item['updated']}}</p>
                <h4>{{item['price']}}</h4>
                <button>See more</button>
            </div>
        {% endfor %}
        </div>
        <button>Add product</button>
    </content>
</body>
</html>
